<!DOCTYPE html>
<html>
	<head>
		<title>ZFeed</title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
		<!-- JavaScript and stylesheets from your assets folder are included here -->
		<%- assets.css() %>
		<%- assets.js() %>
		<script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-30570115-1']);
          _gaq.push(['_setDomainName', 'zfeed.zolmeister.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
	</head>

	<body>
		<script id="entry-template" type="text/x-dustjs-template">
          <div class='clip'></div>
          <p>
              <a class="link" target=_blank href="{link}">{title}</a>
              <br><br>
              <span class="desc">
                  {desc}
              </span>
          </p>
        </script>
        <div class='feed'>
            <span class='link' id='loading'>Loading...</span>
        </div>
	</body>
</html>
