<html>
    <head>
        <script id="entry-template" type="text/x-dustjs-template">
          <div class='clip'></div>
          <p>
              <a class="link" target=_blank href="{link}">{title}</a>
              <br><br>
              <span class="desc">
                  {desc}
              </span>
          </p>
        </script>
    </head>
    <body>
        <div class='feed'>
            <span class='link' id='loading'>Loading...</span>
        </div>
    </body>
</html>